/* this is our style sheet for displaying our branding */

body{
	font-family: 'Duru Sans', sans-serif; 
	font-size: 10px;
}

h1 {
	font-size: 4rem;
	font-family: 'Pacifico', cursive;
	color: #000000;
}

h2 {
	font-family: 'Duru Sans', sans-serif; 
	font-size: 2rem; 
	color: #744C28;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
	color: #000000;

}

a {
	font-size: 0.8rem;
}


nav a, nav a:visited {
	display: inline-block;
	background-color: blue;
	color: #FFFFFF;
	padding: 1rem 1.25rem;
	text-decoration: none;
	width: 100%;
}


nav a.green {
	background-color: green;
}


nav a.orange {
	background-color: orange;
}


nav a:hover, nav a:active, nav a:focus {
	background-color: gray;
	color: white;
}


form {
	font-size: 0.8rem;
	font-family: helvetica, sans-serif; 
	background-color: #ffffff;
	padding: 0.5rem;
}

form label {

	display: block;
	margin-top: 1rem;
}
 
form input,form textarea {
	display: block;
	font-size: 0.6rem;
	padding: 0.25rem;
	border: 0.1rem solid #000000;


}


section input {
	font-family: 'Duru Sans', sans-serif; 
	font-size: 0.6rem;
	color: #ffffff;
	border: 0.1rem solid #000000;
	border-radius: 0.15rem;
	padding:0.25rem;
	background-color: #9e8d7d;



}

form input:hover, form textarea:hover{
	border-color: #A87B4F;

}

form input:active {

}
