/*  this is our style sheet for displaying our branding */

body{
	font-family: 'Helvetica', sans-serif; 
	font-size: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

h1 {
	font-size: 2.5rem;
	font-family: 'Pacifico', cursive;
	color: #000000;
	padding-left: 8rem;
	padding-right: 10rem;
}

h2 {
	font-family: 'Duru Sans', sans-serif; 
	font-size: 1rem; 
	color: #744C28;
	text-align: left;
	padding-left: 0rem;
	margin: 0;
}

h3 {
	font-family: 'Duru Sans', sans-serif; 
	font-size: 0.9rem; 
	color: #744C28;
	text-align: center;
	padding: 0rem;
	margin: 0;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
	color: #424242;
	text-align: left;

}

ul {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
	color: #424242;
	text-align: left;
	margin-bottom: -10px;
}

nav{
	height:25px;
}
nav a, nav a:visited {
	display: inline-block;
	color: #744C28;
	font-size: 1rem;
	text-decoration: none;
	width: 100%; /*filling 100% of each column*/
	margin-bottom: 1rem;
}



nav a:hover, nav a:active, nav a:focus {
	text-decoration: underline;
	color: #744C28;
}

img {
	margin-bottom: 0.5rem;
}

.bar {
	text-align: center;
	border: 1px;
	color: #744C28;
	padding-bottom: 2.5rem;

}


form {
	font-size: 0.8rem;
	font-family: helvetica, sans-serif; 
	/*background-color: #ffffff;*/
	/*padding: 0.5rem;*/
}

form label {

	display: block;
	margin-top: 1rem;
}
 
form input,form textarea {
	display: block;
	font-size: 0.6rem;
	padding: 0.25rem;
	border: 0.1rem solid #000000;


}


section input {
	font-family: 'Duru Sans', sans-serif; 
	font-size: 0.6rem; /*affects button size*/
	color: #ffffff;
	border: 0.1rem solid #000000;
	border-radius: 0.15rem;
	padding:0.25rem;
	background-color: #9e8d7d;
	float:right;
}

form input:hover, form textarea:hover{
	border-color: #A87B4F;

}

form input:active {

}

#buttons{
	padding-right: 0;

}

#review-order {
	width: 300px;
	height: 300px;
	resize:none;

}

#form-comment{
	width: 436px;
	height: 84px;
	
}





