/* this is our style sheet for displaying our branding */

body{
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 10px;
}

h1 {
	font-size: 4rem;
	font-family: 'Pacifico', cursive;
	color: #000000;
}

h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2rem; 
	color: #744C28;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
	color: #000000;

}

a {
	
}

a:hover, a:focus, a:active {
	color:blue;
	text-decoration: none;
}
a:visited {
	color:gray;
}

form {
	font-size: 0.8rem;
	text-transform: uppercase;
	background-color: #ffffff;
	padding: 0.5rem;
}

form label {
	display: block;
	margin-top: 1rem;
}

form input, form textarea {
	display: block;
	font-size: 0.6rem;
	padding: 0.25rem;
	border: 0.1rem solid #000000;

}

form input:hover, form textarea:hover{
	border-color: brown;
	background-color: orange ; 
	color: white;
}

form input:active {
	border: 0.3rem dashed blue;
}
