/*Grid.css for entire site*/

/* grid.css; defining grids for my site */

/* *= looking for specific string, whenever it reference col- apply this styling */
[class*='col-'] {
	float: left;
	text-align: center;

}


.grid:after {
	content: "";
	display: block;
	clear: both;
}

/* * says we want to style everything */
*, *:after, *:before { 
	-webkit-box-sizing: border-box;
	- moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-1of5A {
	width:20%;
}

.col-1of5B {
	width:20%;
	padding-top: 6rem;
}

.col-1of1 {
	width:100%;
}

.col-1of2 {
	width: 50%;
	height: 45%;
	background-color: #F2F2F2;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 2%
}

.col-1of3 {
	width: 33.333%;
	text-align: left;
}

.col-1of3A {
	margin-left: 4rem;
}

.col-1of4 {
	width:25%;
	text-align: left;
	margin-bottom: 1rem;
} 

.col-2of3 {
	width: 50%;
	/*text-align: left;*/
}

.PromoDescrip {
	margin-left: 8rem;
	margin-right: 8rem;
	margin-bottom: 4rem;

}

/*description for order page "please fill out the info below"*/
.des {
	width:100%;
	text-align: left;
	margin-bottom: 1rem;

}

.Promo {
	margin-bottom: 4rem;
}


@media (max-width: 1070px) {


}

/* specify it is a media query, must have a space after media*/
@media (max-width: 800px) {
	.Promo{
		width: 100%;
	}

	.col-1of4{
		width: 100%;
	}
	.col-1of5A {
		width: 100%;
	}
	.col-1of5B {
		width: 100%;
		padding-top: 0;
	}

	.des{
		width:100%;
	}

}

@media (max-width: 480px) {
	.col-1of5B {
		width: 100%;
		padding-top: 0;
	}

	.col-1of5A {
		width: 100%;
	}

	.PromoDescrip {
		margin-right: 0;
		margin-left: 0;

	.col-1of4 {
		text-align: left;
	}

	.des{
		width:100%;
	}

	.col-1of2 {
		width: 100%;
		font-size: 50%;
		padding-top: 1rem;
	}

	.col-1of3 {
		text-align: center;
	}

	.col-2of3 {
		text-align: center;
	}


}